@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
   font-family: outfit;
}

.active hr {
   @apply block
}

::-webkit-scrollbar {
   @apply hidden
}